.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
req-550-Syria.Rproj
*~
*#
*.log
*.bbl
*.aux
*.blg

#Large summary files
data/real_models/results_post_processing/results_table_modSV.csv
data/real_models/results_post_processing/extended_results_table_modSV.csv

manuscripts/main/~$rd_manuscript_V2_JV.docx
